---
main-title: Lectures & Japon
description: Présentation de livres, magazines, brochures, bandes dessinées sur le Japon glané au fil des ans.
---

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} - {{ main-title }}</title>
        <meta name="description" content="{{ description }}">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header class="main-header" role="banner">
            <h1 class="h4">{{ main-title }}</h1>
            <p class="">{{ description }} <a href="#about" class="">Pour en savoir plus</a>.
        </header>
        <main class="content" role="main">
            {{ content }}
        </main>
        <footer class="main-footer" role="contentinfo">
            <div id="about" class="">
            <p class="">Que ce soit en France ou au Japon, j'ai, au fil des ans, rassemblé une petite collection de livres, magazines, brochures, bandes dessinées sur le Japon.<br />Je me suis dit que ça pourrait intéresser d'autres personnes d'en avoir la liste agrémenté de quelques photos, liens et vidéos. Ça n'a pas vocation à être exhaustif et le seul fil rouge c'est le Japon.</p>

            <p class="">Tout est rédigé par moi-même : <a href="https://twitter.com/obilabilon" class="">Bruno</a>. Et si vous avez des livres intéressant sur le sujet qui m'aurait échappé, n'hésitez pas. Les messages privés sont ouvert sur twitter.</p>

            <p>Enfin, si ça vous donne envie d'acheter un livre, préférez une librairie à Amazon. Ou encore passez par un site en ligne qui fédère les libraires : <a href="https://www.placedeslibraires.fr/" class="">Place des libraires</a>, <a href="https://www.leslibraires.fr/" class="">Les libraires</a> ou <a href="https://www.librairiesindependantes.com/" class="">Librairie indépendante</a>.</p>
        </div>
            <p>&copy; 2022 <a href="" class="underline">Lectures &amp; Japon</a> - <a href="" class="">Mentions légales</a></p>
        </footer>
    </body>
</html>