---
title: Lectures & Japon
layout: main
---

<div id="js-collection" class="collection">
<div class="filters">
    <label for="js-search">Recherche : </label><input class="search" id="js-search" />
    <button class="sort btn" data-sort="ouvrage-title">Trier par nom</button>
    <button class="sort btn" data-sort="time">Trier par date</button>
</div>
<div class="list">
{% for post in collections.post reversed %}
<article class="ouvrage">
    <div>
        <a href="{{post.url}}">
            <img src="{{ post.data.couverture }}" alt="couverture de {{ post.data.title }}" loading="lazy">
            <h2 class="h4 ouvrage-title">{{ post.data.title }}</h2>
        </a>
        
        <p class="text-1">{{ post.data.page.excerpt }}<br>
        <a href="{{post.url}}"><span class="sr-only">Présentation de {{ post.data.title }}</span> Lire la suite</a></p>
    </div>
    
    <footer class="ouvrage-footer">
        <p class="caption">Date de publication : <span class="time" data-time="{{ post.date | niceDateJs }}">{{ post.date | niceDate }}</span></p>
        <p class="caption">Catégorie :
        {% for cat in post.data.categories %}
            <a href="/categories/{{ cat | downcase }}/index.html">{{ cat }}</a>
        {% endfor %}
        </p>
    </footer>
</article>
{% endfor %}
</div>
</div>
