---
title: Lectures & Japon
layout: main
---

{% for post in collections.post reversed %}
<article class="">
    <a href="{{post.url}}" class="">
        <img src="" alt="couverture de Maneki-neko et autres histoires d'objets japonais" loading="lazy">
        <h2 class="">{{ post.data.title }}</h2>
    </a>
    
    {{ post.data.page.excerpt }}
    
    <p><a href="{{post.url}}" class=""><span class="sr-only">Présentation du livre Maneki-neko et autres histoires d'objets japonais</span> Lire la suite</a></p>
    
    <footer class="">
        <p class="">{{ post.date }}</p>
        <p class="">Catégorie :
        {% for cat in post.data.categories %}
            <a href="/categories/{{ cat | downcase }}/index.html">{{ cat }}</a>
        {% endfor %}
        </p>
    </footer>
</article>
{% endfor %}
